<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <style>
        .err {
            background-color: #ffe5e5;
            border: 1px solid #ff4d4d;
            color: #800000;
            padding: 20px;
            border-radius: 8px;
            max-width: 500px;
            margin: 50px auto;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="err">
        <h1>FIN GHAAD FIN AWA GHADI😝</h1>
        <p>{{.ErrorMessage}}</p>
    </div>

</body>
</html>
