<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        .err {
            background-color: #ffe5e5;
            border: 1px solid #ff4d4d;
            color: #800000;
            padding: 20px;
            border-radius: 8px;
            max-width: 500px;
            margin: 50px auto;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="err">
        <h1>WA SAFI GHYARHA🤬</h1>
        <p>{{.ErrorMessage}}</p>
        <img src = "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmRmc3VjaXZ1OHB6ZThuZ2drZnhmbHowazQxbmpsbXhvdncwNmh1dyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KcwuTXthDT0PAvM1LY/giphy.gif"  >  
        <a href="/">GO BACK</a>
    </div>

</body>
</html>
